.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 6rem;
}

input {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  max-width: 100%;
  width: var(--max-width);
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}
